h1 {
  text-align: center;
  font-weight: lighter;
}

h2 {
  font-weight: lighter;
}

h3 {
  font-weight: 200;
}

h5 {
  font-weight: 200;
}
.selected{
  color: #22bdf0;
}
.page-footer {
  position: fixed;
  text-align: center;
  font-weight: 200;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}
.task-form{
  margin-top: 80px;
  margin-bottom: 80px;
}
.add-button{
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.filter{
  margin-top: 20px;
  margin-bottom: 20px;
}

.textbox {
  height: 25px;
  width: 275px;
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: darkred;
  outline:0;
}
